# Environment variables
.env
.env.local

# Database
*.db
*.sqlite

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Application specific

*.bak
auth_users.db
saved_data/
images/
dominating_region/
logs/
submission_files/
website_submission/
submitted_files/
